{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-docgen",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "."
        ]
      }
    ]
  ]
}